/*------------------------------------*\
  Elements > Blockquote
\*------------------------------------*/

blockquote {
  color: $grey-color;
  padding-left: $base-spacing-unit;
  border-left: 3px solid $color-gray;
}
